{{ $ := .root }}
{{ $page := .page }}


<div class="row" id="profile">

    <!-- Some content -->
    <div class="col-sm-6">
        <!-- <input type="button" value="switch" onclick='language_change()''> -->
        <h6 id="profile-header"> Profile </h6>
        <p id="profile-description">
            {{ $page.Content }}</p><br>
        <p> |<a href="https://twitter.com/jotarout">Twitter</a> |
            <a href="https://github.com/JotaroS">Github</a> |
            e-mail : jotaro.shigeyama[ at ]hpi.de | <br>
            <a href="https://jotaros.github.io/jotaro_cv.pdf">| Curriculum Vitæ (pdf) |</a>
            <a href="https://scholar.google.co.jp/citations?user=lzJ583gAAAAJ&hl=ja">| Google Scholar |</a>
        </p>
    </div>
    {{ with $.Site.Params.avatar }}
    <div class="col-sm-6" id="profile-image">
        <img class='profile' src="{{ "img/" | relURL }}{{ . }}" alt="jotaro.jpg">
    </div>
    {{ end }}

</div>

<div class="row">
    <div class="col-sm-12">
        <p>
            <b>My research focus is on virtual reality (VR) interactions and haptic devices. <br>My Ph.D agenda
                especially focusing on VR interaction in a small space.</b>
            <br><br>
            VR hardware became very cheap and accessible for everyone, but the space become the most expensive resource
            on the other hand. While the actual tracking space is limited, there are many ways left to interact virtual
            objects at “off-tracking space”. This includes such as throwing object, using tools, talking to somebody far
            away and even being able to see far away. I investigate how this “off-space interaction” effects user’s
            perception on space, and aim to maximize the value of minimum space in real world. I conduct a psychological
            experiment of how such interaction affects the sence of spaciousness to build a percpetion profile.

            <br><br>
            My research interest also goes for haptic device. I developed Transcalibur: a weight-shifting haptic device that presents the sense of holding objects of virtual shape. I investigated an effects of visual feedback and developed perception profile which optimizes weight movement. I also developed haptic gaming device called DualPanto, which allows blind people to play real-time games using two pantograph haptic devices.
        </p>
    </div>


</div>


<!-- Research interest and education section -->
<div class="row" id="interest-education">
    {{ with $page.Params.interests}}
    <div class="col-sm-6">
        <h6> Research Field / Interests</h6>
        <ul>
            {{range .interests}}
            <li>{{.}}</li>
            {{end}}
        </ul>
    </div>
    {{end}}
    {{ with $page.Params.education }}
    <div class="col-sm-6">
        <h6> Education </h6>
        <ul>
            {{ range .courses }}
            <li>
                <!-- <i class="fa-li fa fa-graduation-cap"></i> -->
                <div class="description">
                    <p class="course">{{ .course }}{{with .year }}, {{ . }} {{ end }}</p>
                    <p class="institution">{{ .institution }}</p>
                </div>
            </li>
            {{ end }}
        </ul>
    </div>
    {{ end }}
</div>

<!-- Awards and honors -->
<div class="row">
    <div class="col-sm-12">
        <h6> Awards and honors </h6>
        {{with $page.Params.honors}}
        <ul>
            {{range .awards}}
            <li>
                <!-- <i class="fa-li fa fa-graduation-cap"></i> -->
                <div class="description">
                    <p class="course">{{ .name }}{{with .year}}, {{ . }} {{ end }}</p>
                    <p class="institution">{{ .description }}</p>
                </div>
            </li>
            {{ end }}
        </ul>
        {{end}}
    </div>
</div>